body {
    background-image: url("https://images.unsplash.com/photo-1513185158878-8d8c2a2a3da3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2418f78da18f976a24958a9831a65ff&auto=format&fit=crop&w=1350&q=80");
}

#title{
    color: black;
    justify-content: center;
    display: flex;
}

label{
  color: white;
  width: 25%;
  display: flex;
}

input{
  color: white;
  width: 25%;
  justify-content: center;
}

button{
  width: 15%;
  justify-content: center;
}

