body {
    color:yellow;
}

#title{
    color: black;
    justify-content: center;
    display: flex;
}

label{
  color: white;
  width: 25%;
  display: flex;
}

input{
  color: white;
  width: 25%;
  justify-content: center;
}

button{
  width: 15%;
  justify-content: center;
}

